body {
    margin: 0;
}

p, h2, h3 {
    display: inline-block;
    vertical-align: middle;
    text-align: right;
    word-break: break-all;
}

h2 {
    width: 21%;
}

p {
    width: 75%;
}

main p, aside p {
    margin-left: 20%;
}

h2, h3 {
    margin: 1%;
}

header h2, footer h2 {
    background-color: white;
}

header, footer {
    background-color: lightblue;
}

main, nav, aside, .content, .info {
    display: inline-block;
    vertical-align: middle;
}
    
main {
    width: 75%;
}

.content {
    width: 69%;
}

nav {
    background-color: lightgoldenrodyellow;
    width: 30%;
}

nav ul {
    margin-left: 40%;
}

.info {
    width: 100%;
    background-color: lightgreen;
}

aside {
    background-color: lightgoldenrodyellow;
    width: 24%;
}

footer h2 {
    text-align: left;
}

@media (max-width: 600px) {
    nav ul {
        margin-left: 0;
    }

    aside {
        width: 23%;
    }

    .content {
        width: 65%;
    }
}