body {
    margin: 0;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.full-width {
    width: 100%;
}

.right-align {
    text-align: right;
}

.quarter-width {
    width: 25%;
}

.one-five-width {
    width: 20%;
}

.main {
    width: 60%;
}

.header {
    background-color: lightblue;
}

.sidebar, .aside {
    background-color: lightgoldenrodyellow;
}

.footer {
    background-color: lightgreen;
}

h2 {
    background-color: white;
}

p, h2, h3 {
    margin: 10px 25px 10px 10px;
}

nav ul {
    margin-right: 25px;
}

nav ul li {
    list-style-type: none;
}
